*{
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    padding: 0;
    margin: 0;
    line-height: 1.5;

    background-color: black;
}

.show{
    display: flex !important;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 5%;
}

nav ul{
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li>a{
    display: block;
    position: relative;
    padding: 20px 15px 10px 15px;
    text-decoration: none;

    color: beige;
}
nav ul li .link::before{
    content: '';
    position: absolute;
    display: block;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    transform: scaleX(0);
    transition: transform 0.3s ease;

    background-color: white;
}

nav ul li .link:hover::before{
    transform: scaleX(1);
}

nav .more{
    display: none;
}

nav .menu{
    position: absolute;
    display: none;
    flex-direction: column;
    min-width: 200px;
    margin-top: 48px;

    background-color: beige;
}

nav .menu a{
    padding: 10px;
    color: black;
    text-decoration: none;
}

nav .menu a:hover{
    background-color: black;
    color: beige;
}

nav .mobile{
    display: none;
    width: 100%;
}

nav .mobile .header{
    background-color:black;
    display: flex;
    text-align: center;
    justify-content: space-between;
    flex-direction: row;
}

nav .mobile .header a{
    display: inline-flex;
    color: beige;
    text-decoration: none;
    padding: 10px;
}

nav .mobile .header #b-menu{
    border: none;
    background-color: transparent;
    cursor: pointer;

    color: beige;
}

nav .mobile .links{
    display: none;
    flex-direction: column;
    position: relative;
    z-index: 200;

    background-color: black;
}

nav .mobile .links a{
    font-size: 20px;
    display: block;
    padding: 10px 20px;
    text-decoration: none;

    color: beige;
}

nav .mobile .links a:hover{
    font-size: 20px;
    display: block;
    padding: 10px 20px;
    text-decoration: none;

    color: black;
    background-color: beige;
}

header{
    background-image: url(../img/Fondo4.png);
    background-size: cover;
    background-position: center center;
    height: 100vh;
}

h1{
    font-size: 1.9em;
    position: relative;
    display: inline-block;
    padding: 0;
    margin: 0;
}

h1::before{
    content: '';
    position: absolute;
    width: 100%;
    height: 50px;
    bottom: -30px;
    left: 0;

    transform: scale(0.4) skewY(-25deg) rotate(25deg);

    background-color: beige;
}

#banner{
    font-size: 1.8em;
    text-align: center;
    padding: 40px;
    width: 500px;
    position: absolute;
    z-index: 100;
    top: 200px;
    left: 100px;

    color: beige;
    background-color: rgba(0, 0, 0, 0.5);
}

.lol-button{
    text-transform: uppercase;
    border: 0;
    display: inline-flex;
    align-items: center;
    font-size: 14px;
    padding: 10px 40px;
    background-color: beige;
    color: black;
    font-weight: bolder;
    text-decoration: none;
}

.lol-button:hover{
    background-color: rgb(189, 189, 125);
}

.newcampeon-link{
    text-transform: uppercase;
    border: 0;
    display: inline-flex;
    position: relative;
    align-items: center;
    font-size: 18px;
    padding: 10px 40px;
    color: beige;
    font-weight: bolder;
    text-decoration: none;
}

.newcampeon-link::before{
    content: '';
    position: absolute;
    display: block;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    transform: scaleX(0);
    transition: transform 0.3s ease;

    background-color: beige;
}

.newcampeon-link:hover::before{
    transform: scaleX(0.7);
}


.w-75{
    line-height: 1.2;
    padding: 40px;
    width: 30%;
    margin-right: 50px;
    margin-left: 60%;
    font-size: 1.1em;
    background-color: rgba(85, 66, 83, 0.233);
}

.nombre-campeon{
    width: 80%;
    text-align: right;
    font-size: 2em;
    color: rgb(167, 80, 148);
}

.trailer{
    word-spacing: 15em;
    color: beige;
}

h3{
    font-size: 1.5em;
    padding-top: 10px;
    margin-left: 52%;

    color: beige;
}

.nombre-campeon{
    font-size: 1.5em;
    text-align: right justify;
}

#videos{
    text-align: center;
    padding: 50px 0;
    background-image: url(../img/Renata1.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 190vh;

    color: beige;
    background-color: rgb(116, 38, 38);
}

#slider{
    margin-left: 50%;
}

#videos #slider #controles{
    display: flex;
    justify-content: center;
}

#videos #slider #controles #prev,
#videos #slider #controles #next{
    border: none;
    height: 50px;
    width: 80px;
    background-color: rgb(167, 80, 148);
    color: beige;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease;
}

#videos #slider #controles #prev:hover,
#videos #slider #controles #next:hover{
    background-color: rgb(37, 37, 37);
}

#videos #slider #current{
    width: 800px;
    margin: 20px auto;
    border: solid 1px rgb(167, 80, 148);
}

#videos #slider #videos-container{
    display: flex;
    gap: 10px;
    width: 97%;
    justify-content: center;
}

#videos #slider #videos-container .item{
    border: solid 1px rgb(167, 80, 148);
    cursor: pointer;
    overflow: hidden;
}

#videos #slider #videos-container .item a{
    position: relative;
}

#videos #slider #videos-container .item img{
    object-fit: contain;
}

#videos #slider #videos-container .item:hover img{
    transition: opacity 0.3s ease;
    opacity: 0.5;
    object-fit: contain;
}

#videos #slider #videos-container .item a::before{
    font-family: "Material Icons";
    font-size: 30px;
    content: "play_arrow";
    color: beige;
    position: absolute;
    display: block;
    left: 200px;
    top: -180px;
    width: 50px;
    height: 50px;
    background-color: black;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 100;
}

#notas-version{
    height: 100vh;
    background-image: url(../img/Jhin.png);
    display: flex;
    align-items: center;
    justify-content: end;
}

.info{
    line-height: 2;
    padding: 40px;
    width: 600px;
    margin-right: 50px;
    margin-bottom: 500px;

    color: beige;
    background-color: rgba(63, 54, 54, 0.5);
}


@media screen and (max-width:1191px) {
    nav .link-hide{
        display: none;
    }
    nav .more{
        display: flex;
    }

    header{
        height: 70vh;
    }

    #banner{
        position: initial !important;
        z-index: 100;
        width: 100%;
    }

    #slider #current{
        width: 80% !important;
    }

    #slider #current iframe{
        height: 500px;
    }

    #notas-version{
        background-position: center center;
    }

    .info{
        width: 600px;
        margin: 0 auto;
    }
}


@media screen and (max-width:701px){
    nav {
        width: 100%;
        padding: 0;
    }
    nav ul{
        display: none;
    }
    nav .mobile{
        display: block;
    }

    header{
        height: 50vh;
    }

    #banner{
        position: initial !important;
        z-index: 100;
        width: 100%;
    }

    #slider #current{
        width: 100% !important;
    }

    #slider #current iframe{
        height: 300px;
    }

    .w-75{
        width: 490px;
        margin: 0 auto;
    }

    #slider #videos-container{
        display: none !important;
    }

    .trailer{
        display: none;
    }

    #notas-version{
        background-position: center center;
    }

    .info{
        background-color: black;opacity:0.7;
        width: 90%;
        margin: 0 auto;
    }
}